[2018-02-01 06:59] anhkhoa14592 opened #1 "Burpsuite does not show anything when i send request into autorepeater"
Hi nccgroup,
I've tried your extension but it looks like the function does not work. i wonder if there is any requirement?
Thanks

[2018-02-01 14:08] m00r3 commented on #1
Hey there,

The readme doesn't really reflect and I'll be sure to update it to include some more broad instructions but AutoRepeater won't resend or display requests sent to it unless there's a defined replacement set that alters the request sent to it. This is to prevent AutoRepeater from repeating requests which won't be changed.

Does setting a replacement for your request fix it or is there an

[2018-02-03 21:04] rsmith31415 commented on #1
@m00r3 I also found the same issue. I added a condition with match and replace for headers and then sent a particular request to AutoRepeater, but the request is not shown in the pane. I also tested a variety of other rules with and without regex - string, in scope, etc, but doesn't seem to make a difference. However, there are no errors in the Extender tab.

[2018-02-03 21:09] m00r3 commented on #1
@rsmith31415 Can you please try using a header replacement rule from the proxy match and replace settings? To do header replacements without a regular expression you need to enter the entire header value into the find location.

[2018-02-04 04:39] rsmith31415 commented on #1
@m00r3 Hopefully, this is what you mean: I added a new rule to change a header value in "Proxy" -> "Options" -> "Match and Replace", and added a "Request header" rule to change the header "Upgrade-Insecure-Requests" from "Upgrade-Insecure-Requests: 1" to "Upgrade-Insecure-Requests: 2" and that works correctly. When I try to create a similar rule in AutoRepeater, I don't see the new request in the

[2018-02-04 16:12] m00r3 commented on #1
@rsmith31415 I think I've sorted out the cause. It looks like there's a bug with the "Send To AutoRepeater" functionality. Resending the following request from Repeater

`GET / HTTP/1.1`
`Host: www.google.com`
`User-Agent: curl/7.51.0`
`Accept: */*`
`Upgrade-Insecure-Requests: 1`
`Connection: close`

with an AutoRepeater replacement configured with

Type: `Request Header`
Match: `Upgrade-Insecure-

[2018-02-04 20:07] rsmith31415 commented on #1
@m00r3 Yes, that works correctly.

By the way, I found that if you use the scanner and the request is matched by a condition, you will also see that request in the AutoRepeater pane. I'm pretty sure that's not an intended behavior.

[2018-02-04 21:15] m00r3 commented on #1
@rsmith31415 So I've tracked down the source of the bug that causes "Send To AutoRepeater" not to work. I'll start working towards getting it fixed right away.

As for AutoRepeater picking up requests generated by scanner, that is intended functionality but it shouldn't be enabled by default. In the update that fixed "Send To AutoRepeater" that will also be fixed.

[2018-02-04 21:43] m00r3 commented on #1
@rsmith31415 Can you give it another go with the updated AutoRepeater.jar. Hopefully both of the above issues should be fixed now.

[2018-02-05 02:34] rsmith31415 opened #2 "Replacement rules in requests with Content-Type: multipart/form-data"
I found two issues in requests with `Content-Type: multipart/form-data`.

In order to better reproduce these issues, I'm sending this base request:

[code]

1 - If you select as a replacement rule the following configuration:

Type: Request Param Value
Match: 20F4C2E40C658A7CF60080C4342227DD
Replace: aaa
Which: Replace First
Regex Match: Disabled

and send the previous request to AutoRepeater, you

[2018-02-05 04:11] m00r3 commented on #1
perfect and thanks. I'll close this issue and look into the other one.

[2018-02-05 04:11] #1 closed

[2018-02-05 04:13] m00r3 commented on #2
Thanks for the new issue. Hopefully I'll have time to look into this tomorrow during the day.

[2018-02-06 13:45] CaledoniaProject opened #3 "Upload to BApp store"
Can you upload this app to BurpSuite's store?

[2018-02-06 14:26] m00r3 commented on #3
Hey @CaledoniaProject,

I've been in touch with Paul Johnston from Portswigger requesting that AutoRepeater be uploaded to the BApp store. Hopefully it'll be up there soonish.

[2018-02-06 16:28] m00r3 opened #4 "Change Tab Highlight Color To Match Burp Suite"
Burp's tab highlight color is 0xff6633.

[2018-02-06 16:29] m00r3 opened #5 "Add "Add Header" Replacement"
It would be useful to include an "Add Header" replacement.

[2018-02-06 16:30] m00r3 opened #6 "Sanitize CSV before exporting"
The export logic does not check to make sure the data written is valid CSV data.

[2018-02-06 16:31] m00r3 opened #7 "Better Documentation"
They usage documentation is on the light side. There should be either some sort of video or better instructions for how to effectively use AutoRepeater.

[2018-02-07 02:51] CaledoniaProject commented on #3
Thanks

[2018-02-07 02:51] #3 closed

[2018-02-07 15:04] #4 closed

[2018-02-07 16:22] m00r3 commented on #2
@rsmith31415 So I've began looking into this and unfortunately Burp's Extender API doesn't cleanly handle multipart form parameters so I'm going to need to implement a good bit of logic to handle these.

[2018-02-08 19:57] rsmith31415 commented on #2
@m00r3 Interesting. I'm sure there are parsers for multipart/form-data available in java. Hopefully, they provide enough flexibility to construct a new request in the more difficult case of removing a parameter completely.

[2018-02-09 09:42] bao7uo commented on #7
I agree - having tried to figure it out I can't seem to make it do anything. No criticism intended - I have written a couple of Burp extensions myself which probably also could do whether some documentation!

[2018-02-12 03:46] m00r3 commented on #2
@rsmith31415  I've done a fair bit of research and it seems like the only reasonable way to fix this is to implement some code that does multipart form handling myself. I'm assuming implementing this will take a bit of time so in the interim I'm going to fix the exception that gets thrown and fix the bug in the regular full body string replace where bytes without valid characters get stomped which

[2018-02-12 03:48] m00r3 opened #8 "Request String Replacement Overwrites Invalid Characters"
When using the "Request String" replacement, bytes which do not have a valid character mapped too them are replaced by the invalid character character which is then used as the byte value when the request body is transformed back into a byte[] to send.

[2018-02-12 03:53] m00r3 commented on #7
@bao7uo I've realized since this tool was released that it's not the most intuitive to operate. At some point I'll record a short gif that demonstrates how the tool works. In the mean time, if you want to use AutoRepeater, set a replacement which will cause a change to occur within a request that's sent through burp. AutoRepeater will see the request, perform the replacement, and resend the reques

[2018-02-12 21:48] m00r3 commented on #6
This is now fixed.

[2018-02-12 21:48] #6 closed

[2018-02-12 21:48] m00r3 commented on #8
This should now be fixed.

[2018-02-12 21:48] #8 closed

[2018-02-13 20:42] m00r3 commented on #5
I should also add "add cookie" and "add parameter" options.

[2018-02-15 01:16] rsmith31415 commented on #2
@m00r3 Do you think that's the way Burp Suite deals with every type of content type? It looks like a lot of work and it is very likely this specific content type won't be an isolated case.

[2018-02-21 18:38] justinmoore-ncc commented on #2
@rsmith31415 I'm not actually sure how Burp Suite manages it internally. They may have some functionality implemented that's not exposed through the Burp Extender API. In the interim while I implement parsing multipart forms the "replace string" replacement should cover any cases where the param replacement wouldn't work.

[2018-02-27 16:08] m00r3 commented on #5
Added "Add Header"

[2018-02-27 16:08] #5 closed

[2018-02-27 18:23] m00r3 opened #9 "Exception thrown when request containers incompatable IParameters"
When a request contains parameters that are not PARAM_URL, PARAM_BODY and PARAM_COOKIE the application cannot correctly replace them.

[2018-03-10 21:00] m00r3 commented on #9
Fixed.

[2018-03-10 21:00] #9 closed

[2018-03-12 02:20] workfast108 opened #10 "@ nccgroup, Please how can i Replace all my values at once? and get the response"
Firstly Thank you for the amazing tool,  i have a question Please, Assuming i have to replace one Request Header Value,  e.g CSRF Header,  and Maybe two Cookies Value  Request. , when i make the setting is autorepeater, it is actually replacing one at a time, which will not let me get desire result.

Am thinking of a situation where by when the Replacement setting are Set Autorepeater use those se

[2018-03-12 02:59] m00r3 commented on #10
hey @workfast108, to replace multiple values within one request, set all of the values you want replaced within the "Base Replacement" table. Each replacement in the "Base Replacement" table will be applied to the request at the same time. Afterwords, AutoRepeater will make a new request for each replacement set within the "Replacements" with every replacement in the "Base Replacement" table alrea

[2018-03-12 03:24] workfast108 commented on #10
OMG ,Honestly your quick response, just  humble me, you are great Bro. please let me juz give you example of what i wanna do here: Please what is the Best Match Up to use in this scenario
I need to Replace to Cooke Value and One Header Value  all at once, i mean at one time how do i set the Base Replacement and the second Replacement
In the Header Side: i want to Replace
Header Name       Header V

[2018-03-12 03:40] m00r3 commented on #10
hey @workfast108,

If I'm understanding correctly, you'd want something along the lines of:

### Base Replacements
Type: Request Header
Match: X-CSRF-Token: 91053b50cfc2e0ee0
Replace: X-CSRF-Token: c5c047284d2b51f

Type: Match Cookie Name, Replace Value
Match: Workfast_website
Replace: cafef35317e0b1b89b65199

Type: Match Cookie Name, Replace Value
Match: csrf_token_website
Replace: c5c047284d2b51

[2018-03-12 10:04] workfast108 commented on #10
@justinmoore-ncc  Thank You for Everything, it worked Perfectly well, Please i have this last Question to ask you , it as to do with ID's , assuming ID's is in the URL Parameters, and i have some ID's as a Post request body Parameter's  as well.

suppose  (1)  URL is like  PUT /users/459461979/ and i want to replace it with " PUT  /users/411839370/

and (2) the Post request body , i have things li

[2018-03-12 15:18] m00r3 commented on #10
Hey @workfast108,

The following replacement will replace all instances of "459461979" with "411839370".

### Base Replacements
Type: Request String
Match: 459461979
Replace: 411839370
Which: Replace All

Thanks,
Justin

[2018-03-12 15:34] workfast108 commented on #10
@justinmoore-ncc  Thanks for your great response i appreciate

Warm regards
Dere Sewa

[2018-03-12 15:37] m00r3 commented on #10
@workfast108 no problem, I'm happy to help.

[2018-03-12 15:37] #10 closed

[2018-03-13 19:43] muttiopenbts commented on #7
Just found this extension and played with it for around 30 mins, and still can't figure out how to replace a tag in a request.
Looks super useful for my need to test OAuth2, and OIDC clients.
Certainly looks appears to be better than having to write my own extension or using PyTools.

[2018-04-07 10:20] JJJJust opened #11 "Extra request with active base replacement and disabled replacement"
When I have an activated base replacement and only a disabled replacement exists, I end up sending two identical requests that reflect the effects of the base replacement.

The disabled replacement doesn't seem to be doing anything, but a request still seems to be fired because it's there.

[2018-04-08 18:04] m00r3 commented on #11
Hey @JJJJust,

Thanks for opening the issue. I look into this sometime this week and get a fix out.

[2018-05-09 17:49] m00r3 commented on #11
Hey @JJJJust ,
This should be fixed in the latest JAR now. Feel free to reopen the issue if it's not.

[2018-05-09 17:49] #11 closed

[2018-05-28 17:59] justinmoore opened #14 "Add Support For "Replace Each""
There should be a "Replace Each" replacement mode which performs the replacement and sends the request for each instance of a match within a request. This would make is much easier to generate new requests with every string match, cookie, header, param, etc value changed one-at-a-time.

[2018-05-28 18:01] justinmoore opened #15 "Add "Replace From Response" functionality"
It would be useful to be able to perform replacements based on the response of a previous request to the domain. This would fix AutoRepeater not working for sites which rotate CSRF tokens on every request.

[2018-05-31 19:51] danielthatcher opened #16 "Save and Load from config file"
It would be helpful to be able to save and load a set of replacements from a config file that's independent of burp's state.

This would probably be useful for quite a few situations, but as an example, I'm currently using AutoRepeater to aid with SQLi testing, and each test I have to set up quite a few replacements manually. It would be much quicker to be able to load these in from a config file.

[2018-05-31 19:55] justinmoore commented on #16
hey @danielthatcher,

I completely agree. This bit of functionality I wanted to add in the near future with the goal of also providing some loadable configs for folks to pull from the git repo as examples.

[2018-05-31 19:57] justinmoore opened #17 "Filter Logs"
I think it would be useful to have the option to filter the logs for a given tab. I don't think it'll be too hard to implement given the code for triggering replacements on conditions can likely be reused to filter the log viewer.

[2018-05-31 19:57] danielthatcher opened #18 "Add an "Anywhere" type"
Replacements are currently limited to specific locations ("Request String", "Request Header", etc.). Another replacement type could be added to allow for searching the whole request for replacements, rather than just specific locations.

[2018-05-31 19:59] justinmoore commented on #18
Hey @danielthatcher ,

I think the "request string" replacement provides this functionality. It just looks for the first instance / every instance of a specific regex or string within the entire contents of the request and replaces it.

[2018-05-31 20:01] danielthatcher opened #19 "Add response time information"
Currently information about status codes and response lengths is shown. Timing information could also be useful when using AutoRepeater for certain types of testing (original response time, new response time, response time diff).

[2018-05-31 20:04] danielthatcher commented on #18
Ah, sorry about that. I had taken "Request String" to mean the query string of the request. It might be worth renaming this, but that might just be me.

[2018-05-31 20:04] #18 closed

[2018-05-31 20:08] justinmoore commented on #18
Yeah, I couldn't think of a better name for it and I agree it's ambiguously named. If can think of something better to call it i'd be down for the change.

[2018-05-31 20:14] justinmoore commented on #19
This should be doable, but I'm unsure if there's space to fit it into the log viewer. I'll open another issue for the support changing the columns shown in the log viewer to allow a larger variety of values to be shown in the viewer without it getting too cramped.

[2018-05-31 20:15] justinmoore opened #20 "Enable/Disable Columns Within The Log Viewer"
There's useful information that could be displayed in the Log Viewer, but it would be too cramped if everything was added. There should be an option to enable/disable specific columns in the log viewer.

[2018-05-31 20:31] justinmoore commented on #19
In the interim while I implement this functionality, it looks like Logger++ should enable you to sort requests based on the response time.

[2018-06-04 19:04] justinmoore commented on #16
I'm working on this now.

[2018-06-05 14:22] justinmoore commented on #16
AutoRepeater does this now. Let me know if there's any issues with it.

[2018-06-05 14:22] #16 closed

[2018-06-06 05:42] batanman commented on #7
I can't even get any requests to send to it when I right click and do send to AutoRepeater. Am I missing something?

[2018-06-06 14:40] justinmoore commented on #7
hey @batanman,

To make AutoRepeater work you need to set a replacement within AutoRepeater that will cause some text within the request to differ from the original request. From example, if you're making a GET request to the Google homepage, you could set a replacement in AutoRepeater to replace each instance of google in the request with "notgoogle" by specifying a Replacement with the type set

[2018-06-12 17:05] leesoh opened #21 "Add Proxy > HTTP History functionality to AutoRepeater Log"
First off, thanks for making and supporting this tool. It's pretty slick!

I'm currently testing a large multi-role application and it would be really helpful to be able to gain access to the same sort of right-click functionality available in HTTP history (send to, highlight, comment, etc.) in the AutoRepeater log.

[2018-06-12 17:11] leesoh commented on #21
Adding to this, the filter options would be 👌

[2018-06-12 17:20] justinmoore commented on #21
hey @leesoh ,

Thanks for finding my tool useful. I agree that adding some better log management would be definitely useful. In the interim, you might find that logger++ provides some of the functionality you want within a separate plugin.

[2018-06-19 17:16] jacobheath opened #22 "Import Suggestions"
Fellow NCCer here. I'm wondering if you have recommendations or plans for an import feature? My current engagement has 8 roles and I'd like to test them all at the same time with different tabs. However, when Burp inevitably dies, all the set up of those 8 tabs is lost. Any chance I can upload a JSON file that would configure my tabs? Thanks

[2018-06-19 17:31] justinmoore commented on #22
Also if you need to tweak any of the exported files by hand the format is base64 encoded JSON (session expire, tokens change, etc).

[2018-06-19 17:31] jacobheath commented on #22
Nice! I should have read the commit messages 👍 . Also, the BAppsStore appears to have a much older version available.

[2018-06-19 17:38] justinmoore commented on #22
Yeah, the BApp store version is a bit older. It's a little bit of a process to get it updated so I've been putting it off.

[2018-06-19 18:40] jacobheath commented on #22
So when import and try to receive requests from Proxy, I get the following exception:

[code]

[2018-06-19 19:03] jacobheath commented on #22
I think I used this one. The error doesn't always happen though. I have tried to trigger it, but am having trouble. Seems to happen a various times.
[autorepeater.zip](https://github.com/nccgroup/AutoRepeater/files/2116541/autorepeater.zip)

[2018-06-19 19:12] justinmoore commented on #22
So it seems that this is an issue with the JVM running out of threads and not with the import function itself. This should be pretty straight forward to fix and I should have a patch out shortly.

[2018-06-19 20:04] jacobheath opened #23 "Tabs With Only Base Replacements Don't Fire"
Me again,
Looks like when I have a bunch of base replacements, but no regular replacements, AutoRepeater doesn't capture requests properly. I've attached two configuration files that show this:

## Working:
[working.zip](https://github.com/nccgroup/AutoRepeater/files/2116717/working.zip)

## Not Working:
[not-working.zip](https://github.com/nccgroup/AutoRepeater/files/2116716/not-working.zip)

The

[2018-06-19 20:18] justinmoore commented on #23
Hey,

I noticed this behavior earlier today. The reason it's like this is because originally all of the Base Replacements would get bundled up into one one request and get sent and then that request would get copied and each Replacement would get applied to it separately. This was causing extra outbound requests and was confusing. I changed it to have Base Replacements not send a request but I agr

[2018-06-19 20:57] justinmoore commented on #23
This should be fixed in the newest JAR now, I'll wait for confirmation before i close this.

[2018-06-19 20:57] justinmoore commented on #22
This should be fixed in the newest JAR now. I'll wait for confirmation before I close this.

[2018-06-22 18:43] justinmoore commented on #23
I'll close this now. If there's any more issues feel free to reopen.

[2018-06-22 18:43] #23 closed

[2018-06-22 18:43] justinmoore commented on #22
I'll close this now assuming it's fixed. If this issue persists feel free to reopen this issue and i'll give it another look.

[2018-06-22 18:43] #22 closed

[2018-07-05 15:26] ngkogkos opened #24 "Show Timed Out Requests"
Can you please look into handling requests that time out?

This could be done in the same manner Burp's history time displays an empty response tab, and even be flagged. From my testing it seems to be a quite often thing due to WAFs etc.

[2018-07-05 15:32] ngkogkos opened #25 "Support Quick Auto-Extract and Reflection Info"
It would be nice if AutoRepeater could try to detect and extract any reflections, or even show a count of reflections in the same way that Flow does:

![image](https://user-images.githubusercontent.com/1519209/42332816-ebff24ec-8070-11e8-9d7f-e68c2040d80e.png)

This maybe can be achieved by having the users define starting and ending points in the replacement payloads.

Of course this could lead t

[2018-07-05 15:36] ngkogkos opened #26 "Auto-Hide/Expand AutoRepeater's Settings Pane"
As per issue, if there is an easy way, it would be nice to auto-hide the settings pane as it takes up too much space on screen and if more info is added in the result columns, it will be even more.

It could auto-hide, and expand again only when tester moves their cursor over the right side area.

[2018-07-05 16:20] ngkogkos opened #27 "Support Collaborator Interactions"
It would be really nice if there would be an option to create payloads that generate collaborator subdomains and track these interactions, and then report back to the Sitemap's issues.

[2018-07-05 17:35] justinmoore commented on #24
Hey @ngkogkos,

I agree that this would be a good feature. Unfortunately, Burp's API doesn't provide an easy way to implement this because it doesn't tie outgoing requests to their incoming responses. I've looked at how both Flow and Logger++ implement this functionality and I don't think either of them do it in a great way.

Logger++ only tracks requests without responses for requests that go thr

[2018-07-05 17:40] justinmoore commented on #25
Hey @ngkogkos,

I'm going to start working on a "Filter Logs" functionality soon which should satisfy a lot of the uses a feature like this would cover.

I definitely don't want to add more complexity to the "Replacements" UI because honestly folks are having enough difficulty understanding how to correctly operate it as is and I'm afraid that adding more options would confuse folks.

After adding

[2018-07-05 17:47] justinmoore commented on #26
Hey @ngkogkos,

I'm unsure how to automatically show/hide the settings pane, however, I'm going to add the pane's visibility as a toggleable option in the right click menu. Precious screen real estate is definitely something I'm interested in maximizing and this is a feature I'm going to implement ASAP.

Thanks,
Justin

[2018-07-05 17:49] justinmoore commented on #27
Hey @ngkogkos,

I've honestly never used Burp's collaborator functionality so I'm unsure of how AutoRepeater would fit into it. Could you please explain in more detail how some functionality within AutoRepeater could integrate with Burp's collaborator?

Thanks,
Justin

[2018-07-05 17:52] justinmoore commented on #2
I'm marking this "won't fix" for the time being because the "Request String" replacement largely covers the functionality this bug fix would provide. I'm hoping that either Burp's API just automatically fixes this issue or that I can find a better HTTP parser to replacement Burp's API with.

[2018-07-05 17:53] justinmoore commented on #15
I'm unsure if this functionality would actually work because AutoRepeater would constantly break the page the user was viewing. I think this functionality would be better suited to a separate plugin.

[2018-07-05 17:53] #15 closed

[2018-07-05 19:43] justinmoore commented on #26
Hey @ngkogkos,

Adding this as a right-click option didn't quite work out, however, I added a MenuItem to Burp Suite's JMenuBar that now has the option to show/hide the options panel.

The new JAR in the git repo has this feature. I'm going to close this issue now, if there's any issue feel free to reopen the issue.

Thanks,
Justin

[2018-07-05 19:43] #26 closed

[2018-07-05 20:29] danielthatcher commented on #16
Finally got a chance to play around with this at work (hence commenting on this a  month later - sorry about that), and it's to be working well. Thanks for implementing it.

A colleague and I started playing around with building up some configs, and one thing that we noted is that it might be easier if the configs were stored as JSON rather than Base64 encoded JSON as this would work better with v

[2018-07-05 20:44] justinmoore commented on #16
hey @danielthatcher,

I agree that it doesn't make a whole lot of sense to store the configs in based64ed JSON. The only reason it's like that is because I wasn't sure how I was going to store the files at the time I was writing it and never got around to fixing it. I'll change it now to support both to make handwriting configs a bit easier.

Thanks,
Justin

[2018-07-05 21:41] justinmoore commented on #16
hey @danielthatcher,

Just to close the loop on this, I've changed the config file format to be JSON instead of Base64 encoded JSON. AutoRepeater will gracefully handle the transition if you have any existing import files.

Thanks,
Justin

[2018-07-05 22:00] justinmoore opened #28 "Migrate Import/Export options to Burp Menu"
Now that there's an AutoRepeater menu item I should move the import/export options to it to free up space within the AutoRepeater plugin UI.

[2018-07-06 09:41] ngkogkos commented on #27
Hi Justin,

Thanks for the quick reply.

We use collaborator a lot internally to identify any out-of-band or other weird vulnerabilities. Sometimes it helped me exploit complex SQLis or other injections as well.

It could work in similar fashion to the Burp Collaborator client. It could basically generate unique subdomains which the collaborator server can track, and if any interaction happens wit

[2018-07-06 09:42] ngkogkos commented on #25
Sounds good to me, thanks!

[2018-07-06 09:43] ngkogkos commented on #24
That sounds reasonable to me. Sorry I cannot contribute but I don't get along with Java.

Anyhow it's a great idea for a plugin and very useful already :)

[2018-07-12 08:50] Sinderella commented on #28
If you don't mind, I am working on this issue. PR will be coming later today once I got home. 😆

[2018-07-12 12:46] justinmoore commented on #28
Fantastic!

I appreciate the contribution.

[2018-07-16 13:19] justinmoore commented on #28
Thanks to the contributions of @Sinderella this is implemented now.

[2018-07-16 13:19] #28 closed

[2018-07-17 12:57] justinmoore opened #31 "Ability to set default tab settings"
After log filtering and log highlighting are implemented it would be useful to introduce the ability to set the default options for new tabs to allow users to specify options that are active by default for all new tabs i.e. all modified requests with a 200 status code are highlighted green in the logs.

[2018-07-17 21:47] justinmoore commented on #17
AutoRepeater has this functionality now as of pull request #32 .

[2018-07-17 21:47] #17 closed

[2018-07-18 01:09] justinmoore opened #33 "Optional ability to add requests sent from AutoRepeater to the site map."
Currently, AutoRepeater doesn't add the sent requests back to the Burp site map. There should be a toggleable option to enable this functionality in the AutoRepeater menu option.

[2018-07-18 14:41] Sinderella opened #34 "Log filter whitelist/blacklist radio button"
They have to be pressed twice in order for the logs to correspond with the filters. Is this expected?

[2018-07-18 14:45] Sinderella opened #35 "Option to turn off log filter"
May be it's just not too obvious for me to get the log filter working the way I wanted it to be. An option to turn off the filter is nice to have when we are trying to see if we have configured something wrong and want it to show everything.

[2018-07-18 15:06] justinmoore commented on #34
yeah, there's a bug in there that I have fixed in the branch I'm currently working on. It should be fixed sometime today when I push out the log highlighting feature.

[2018-07-18 15:09] justinmoore commented on #35
By default the log filter shouldn't be filtering any logs. Can you share the filter configuration you're using that's having issues?

[2018-07-19 08:49] Sinderella commented on #35
Please see the images below:

![image](https://user-images.githubusercontent.com/1926450/42931777-7c5a0c6a-8b38-11e8-8cb2-e91817d85b22.png)

![image](https://user-images.githubusercontent.com/1926450/42931786-82757292-8b38-11e8-8804-5aa4eb56e593.png)

![image](https://user-images.githubusercontent.com/1926450/42931792-892c0ec0-8b38-11e8-8067-1522ae6334a5.png)

I am trying to remove the cookie head

[2018-07-19 13:46] justinmoore commented on #35
There was a bug where I was initializing the filter as a blacklist when it was a whitelist by default which was causing the issue. I've merged the fix and it should be resolved now in the latest JAR.

Additionally, I've added a "Remove Header By Name" replacement so it should be as easy as setting the Replacement to "Remove Header By Name" and the value to "Cookie".

Please let me know if there's

[2018-07-19 13:46] #35 closed

[2018-07-19 13:46] justinmoore commented on #34
This is fixed now. Please let me know if there's any issues with the fix.

Thanks,
Justin

[2018-07-19 13:46] #34 closed

[2018-08-08 01:53] justinmoore commented on #21
I'm going to close this issue now.

I've added highlighting to the log. I don't think commenting really makes a ton of sense given the automated nature of this tool, and you can send the request to the other tools from the request viewer. If there's anything other features you're interested in having included feel free to open a new issue.

Thanks,
Justin

[2018-08-08 01:53] #21 closed

[2018-08-08 23:17] justinmoore commented on #33
I've added this functionality.

[2018-08-08 23:17] #33 closed

[2018-08-10 05:10] computerline1z opened #38 "Send to AutoRepeater from Proxy not work"
I use the newest build version, when select the url on the proxy list, and choose Send To AutoRepeater, AutoRepeater flash, but in the list in AutoRepeater tab doesn't show any request.

[2018-08-10 14:36] justinmoore commented on #38
Hey @computerline1z,

It looks like I broke the "Send To AutoRepeater" functionality at some point. I'll look into this right now.

In the interim, AutoRepeater will still work by browsing the site as normal.

Thanks for the bug report,
Justin

[2018-08-10 14:57] justinmoore commented on #38
This should be fixed now, I had a boolean comparison that I forgot to remove after I refactored some code.

Feel free to reopen this issue if it persists.

Thanks,
Justin

[2018-08-10 14:57] #38 closed

[2018-08-10 16:17] computerline1z commented on #38
I try the latest jar, but Send to AutoRepeater still not work, don't see any request at all, does this need any filter or config ?

[2018-08-10 16:49] justinmoore commented on #38
Do you have any Replacements set which causes a replacement in the request your sending to AutoRepeater? Requests only appear if there's a replacement that occurs within the request to prevent AutoRepeater from resending the original request.

[2018-08-10 18:26] computerline1z commented on #38
I just keep the default value, base replacement and replacement is empty, condition only has 4 value, the first one is checked which I can't change the state or delete it. :(
![image](https://user-images.githubusercontent.com/2786420/43974633-5ccd2132-9d05-11e8-968d-780ab5a6b88f.png)

[2018-08-10 18:32] justinmoore commented on #38
AutoRepeater won't do anything unless you specify a "Replacement" or "Base Replacement".

Try setting a Replacement with the following settings as an example:
Type: Remove Header By Name
Match: Cookie
Where: Replace First
(This replacement will remove the "Cookie" header from all requests passing through Burp).

One other note is you don't need to explicitly send requests to AutoRepeater. By defau

[2018-08-11 01:14] computerline1z commented on #38
It's work now :), thanks you very much for your help !

[2018-10-02 19:29] justinmoore commented on #24
This should work now.

Thanks,
Justin

[2018-10-02 19:29] #24 closed

[2018-11-01 22:17] leesoh opened #39 "Feature Request: Content Filtering à la Proxy History"
It'd be great if there was an easy way to filter the results. For example, I don't particularly care if a style sheet is accessible to the world. Adding Proxy History-like filtering would be a beautiful thing.

[2018-11-01 22:19] leesoh opened #40 "Base replacements not getting consistently applied"
I've run into a possible bug where base replacements aren't being consistently applied. I have a collection of "Match Cookie, Replace Value" rules and it appears that in many cases on the first matching cookie is replaced. Later in the session, all are. I can't figure out

[2018-11-01 22:20] leesoh opened #41 "Feature Request: Duplicate Tab"
When testing multi-role applications, I need to make the same replacements in each repeater instance. It would save me a bunch of time if I could duplicate a tab and then simply update the values.

[2018-11-01 22:25] leesoh opened #42 "Update BApp Store Version"
The BApp Store still has v1.0, which may be the cause of some of my other issues. Not sure how this update process works, but might be good to give it a boot.

[2018-11-01 22:30] leesoh commented on #40
I don't want to talk about it.

[2018-11-01 22:30] #40 closed

[2018-11-01 22:49] leesoh commented on #39
I had an old version of the extension. See #42.

[2018-11-01 22:49] #39 closed

[2018-11-01 23:07] leesoh opened #43 "Feature Request: Log filter status code "is not equal""
I love the log filter, but would also love to be able to filter out status codes I don't care about (e.g. 404). Currently it only supports:

![image](https://user-images.githubusercontent.com/1276654/47884994-8fdc2f80-ddf8-11e8-9d6f-4e4855e41580.png)

[2018-11-02 15:24] #41 closed, assigned to nobody

[2018-11-14 00:19] leesoh opened #44 "Unexpected Behaviour"
I've noticed that when the **Project Options > Sessions > Use cookies from Burp's cookie jar > Extender** box is checked, AutoRepeater will not perform any replacements. This may just be how Burp works, but it took me a bit of digging to find the reason and for some of the operations (remove all cookies) was quite unexpected.

[2018-11-14 15:47] justinmoore commented on #44
hey @leesoh,

I'll look into this.

Regards,
Justin

[2018-11-24 20:17] arbazkiraak opened #46 "Burp Freezes on Clear Logs"
Hello,

I Noticed that burp freezes for certain time(approx ~2min) on "Clear Logs" on latest clone.
Tested on Windows. with just `2` requests in AutoRepeater.

[2018-12-29 14:21] arbazkiraak commented on #46
Any update @justinmoore

[2019-01-09 03:52] gooadc opened #47 "Add Regex Match for every tab"
I suggest add "Regex Match" in “Conditions”、“Log Filter”、“Log Highlighte” Tab。

[2019-01-10 15:36] #46 closed

[2019-01-10 15:38] justinmoore commented on #47
Done. The newest JAR now has a "Regex Match" and "Regex Does Not Match" match option in the conditions.

[2019-01-10 15:38] #47 closed

[2019-01-13 15:36] LandGrey opened #48 "Log Filter maybe stuck"
As following picture, when i used AutoPrepeater for a while, the Log Filter Frame maybe stuck and Freezes.
I just look some sites and loged about 100-150 items ……
and I used the lastest version AutoRepeater.jar .

![image](https://user-images.githubusercontent.com/16769779/51086734-393e8a80-1785-11e9-914c-158e76842955.png)

Also lead to whole burpsuite stuck
![image](https://user-images.githubuser

[2019-01-14 19:32] justinmoore-ncc commented on #48
Hey @LandGrey,

Thanks for the bug report, it looks like there was an unhandled exception which caused everything to go wonky. By chance were you sorting the log results?

Thanks,
Justin

[2019-01-15 02:10] LandGrey commented on #48
I didn't sorting the log results, until the log results seems to much to be stucked.

[2019-01-18 02:09] LandGrey commented on #48
Sorry for my first replies.
I test again and found the log filter stucked only I sorted the log results.
I noticed the [issues#46](https://github.com/nccgroup/AutoRepeater/issues/46)
that's a unfix bug?

[2019-01-21 18:54] justinmoore-ncc commented on #48
#46 should be fixed in the newest JAR, i just haven't closed the issue. Does the issue persist?

[2019-01-22 09:47] LandGrey commented on #48
yeah, the issue exists, when I sorted the log results, the log filter will be stucked.

[2019-02-01 16:16] justinmoore commented on #48
Hey @LandGrey,

#46 was a different issue causing Burp to crash when logs where cleared that has been resolved. This issue currently exists.

Thanks,
Justin

[2019-02-03 11:34] arbazkiraak commented on #48
Hi @justinmoore

I Confirmed the same, Issue is with sorting log.

![bug](https://user-images.githubusercontent.com/13177578/52176208-7ec70400-27d5-11e9-910c-92d3593bb014.PNG)

Have you figure out a way to fix this ?

[2019-02-04 20:34] justinmoore commented on #48
hey @arbazkiraak,

I was able to fix this bug. The issue should no longer exist in the newest JAR. If it does please reopen this issue and i'll look into it again.

Thanks,
Justin

[2019-02-04 20:34] #48 closed

[2019-05-29 11:40] tzuk-pl opened #50 "Add Option to Follow Redirection"
Pretty simple and straight forward feature request:

Add the ability to follow redirections within auto repeater. I'm thinking it would be useful to have a button similar to how repeater has a button to follow redirections for individual requests/responses, and have a checkbox to automatically follow redirection in the options section.

Find below two crude mockups of what I mean in case it isn't

[2019-05-31 09:50] justinmoore commented on #50
Hey @tzuk-pl,

Thanks for the feature suggestion. If I were to add this as a feature I’d probably add it as a checkbox next to the activate AutoRepeater button and have AutoRepeater follow all redirections in the tab. Is there a particular testing case this feature would be useful for? Usually when AutoRepeater is receiving responses to redirect it’s because the replacements are breaking some part

[2019-05-31 11:27] tzuk-pl commented on #50
Thanks for the response, Justin. Some of the applications I have tested use custom application gateways or custom behaviour that create a one-time use token and redirect to an endpoint on a different domain, but still part of the same application.

A simple example: A GET or POST request to http://applicationname/index is sent by the application which uses a cookie or a bearer token for authentica

[2019-06-30 06:00] cetriext opened #51 "Failing content length validation"
I'm using regex to match and  replace values in POST request
the server is validating Content-Length: value
AutoRepeater is not adding this  header.
I'm able to add Content-Length:    header but i'm not sure how  content-length value can be automatically updated in each request as the value is different for each request because of regex based mach and replace rule?

[2019-06-30 23:59] justinmoore commented on #51
Hey @Cetriext,

Can you please provide an example of an request and replacements that are causing this issue?

Thanks,
Justin

[2019-07-02 23:28] leesoh opened #52 "Filter logs by response length diff."
I may take a swing at this if I am feeling ambitious, but it likely won't be in the next few months so opening an issue in case anyone else wants to.

When using AutoRepeater to hunt for vertical and horizontal privesc it would be really helpful to filter logs based on the response length difference. A response length difference of 0 is a strong indication that two different requests received iden

[2019-07-12 02:45] #51 closed

[2019-07-18 09:27] ngkogkos opened #53 "[Feature Request] Duplicate Log Highlighters/Filters"
It would be really nice if we could easily duplicate a log highlighter record.

I have some of them that come with like 4-5 conditions, and sometimes I need to create a similar highlighter with a small variation, so it would make it easier making new highlighters.

Thanks :)

[2019-07-26 21:20] #53 closed

[2019-08-31 18:58] lopa17685 commented on #50
Hi,

I agree with tzuk-pl.
I'm using this great extension mostly for auto fuzzing and checking the response for specific answers.
This option can help a lot because the redirecting force me to do more manual steps for analyzing the response, In some cases I have hundred of redirection responses so it become useless for those scenarios.
Hope that you will consider to add this option, I'm sure that

[2019-08-31 20:14] justinmoore commented on #50
Hey folks,

I’ll prioritize this request.

Thanks,
Justin

Sent from my iPhone

[2019-09-13 16:30] vikasprogrammer commented on #52
+1

[2019-09-13 16:31] vikasprogrammer commented on #42
+1

[2019-09-13 16:31] vikasprogrammer commented on #31
Also an ability to clone tabs.

[2019-09-16 21:17] justinmoore commented on #31
Hey @vikasprogrammer,

It's possible to duplicate a tab by selecting "AutoRepeater" from the Burp Menu at the top of the screen and selecting "Duplicate Selected Tab".

Thanks,
Justin

[2019-10-03 18:45] vulnh0lich2 opened #55 "Not working in latest version of burp"

[2019-11-11 09:35] dokkillo commented on #55
yes, its true, dont work.
I try to add requests to autorepeater and nothing happen

[2019-11-11 18:20] justinmoore commented on #55
Hey folks,

I downloaded the newest version of burp and AutoRepeater does appear to be working as intended. You can try by setting a string replacement for google and replacing it with test and then loading google.com.

Thanks,
Justin

Sent from my iPhone

[2019-11-13 16:25] dokkillo commented on #55
Justinmoore you are true, its working! ty!

[2019-11-14 02:52] justinmoore commented on #55
That’s great to hear. I’m going to close this issue out. If it pops back up for persists feel free to reopen it.

Thanks,
Justin

[2019-11-14 02:52] #55 closed

[2019-11-24 20:48] droope commented on #51
I also have this issue now, content-type does not get updated on "request string" parameter replacements.

[2019-11-26 15:08] copy-and-paste opened #56 "Content type"
First, great tool! ✨

When i change the content-type from json to xml, the data passed does not change as it says in json. Is it a bug or intended use?

[2019-12-09 09:24] vdb-sander commented on #55
Autorepeater doesn't work in Burp Professional v2.1.04

[2019-12-25 01:43] ossie-git opened #57 "String vs Regex"
Considering that the project is really light on documentation, I think it would help if things were labelled more accurately.  For example, nowhere in the README or the UI does it mention that any of the types (Request String, Request Header, etc.) actually take only regular expressions, not simple strings.  This is confusing to new users like myself.  Since everything is a regex, it would be usef

[2020-01-25 15:39] surajpkhetani opened #58 "Add a "Time Requested" Column"
It will be great to have the "Time Requested" column to better analyze the requests.

[2020-03-03 13:22] lopa17685 opened #59 "Bug in UI - Logs >>> Log Filter"
Hi,

There is a bug in the UI in tab logs >>> log filter.
After adding multiple conditions, its not possible to see them and must to copy it to notepad in order to see all conditions.
![Autorepeater UI bug](https://user-images.githubusercontent.com/12773387/75779712-c74b4b00-5d62-11ea-8960-20b2a93e8a74.PNG)

[2020-04-02 01:45] bsysop opened #60 "Repeated entries"
Hi, first i wanna say congrats for that extension, very helpful!

I configured one tab to listen on proxy, and when navigate to same url he repeat everything again, do you have some way to prevent that? (just one request per URL)

Thx

[2020-04-10 10:39] Nexsus1985 opened #61 "Add Option to add fieldset that will contain multiple payloads in order to match it against 1 condition"
Hi,

Please add the option to add for all tabs the option to build field-sets that contains a list of custom payloads that would be replaced with my condition,
Example: lets take the Replacements tab >>> In current version, if I want to test for 10 payloads that are from the same category (for example "XSS") I need to create 10 different conditions that would be replaced each time.
Instead, you ca

[2020-04-10 15:43] justinmoore commented on #61
Hey @Nexsus1985 ,
I like your idea but the current way that AutoRepeater is structured would make this very difficult to implement. You might have better luck either using the duplicate tab functionality or exporting the configuration, manually editing the JSON, and reloading the configuration.
Thanks,
Justin

[2020-04-10 15:43] justinmoore commented on #60
Hey @bsysop,
AutoRepeater does not have the ability to track which URLs requests have already been sent to. If you're looking to have a single request get set through the rules you can use the "Send To AutoRepeater" functionality to have the request get sent only once.
Thanks,
Justin

[2020-04-10 15:43] #60 closed

[2020-04-11 12:28] Nexsus1985 opened #62 "Add an option to arrange the conditions and payloads by creating a simple buttons"
Hi,

Please add a button that will allow to move the conditions up or down so it will be available to arrange the payloads and conditions.
Currently.
Similar to the burp button (Attached screenshot)

Thanks.

![image](https://user-images.githubusercontent.com/12773387/79043631-ef9f5280-7c08-11ea-9e3f-4a4265f2ae60.png)

![image](https://user-images.githubusercontent.com/12773387/79043645-0776d680-7

[2020-04-11 12:33] Nexsus1985 commented on #58
I agree this is important feature. It will also allow testing for all time based attacks.

Thanks.

[2020-04-11 12:44] Nexsus1985 opened #63 "Add an option to perform multiple actions in one click such as delete or duplicate"
Hi,

Currently if I want to remove multiple conditions I need to do it one by one or to edit the json.
If possible please add the option to perform those actions in one click.

Thanks.

[2020-05-14 07:23] Anon-Exploiter opened #64 "[Feature Request] Add condition in logs for Resp. Len. Diffing"
Hey @justinmoore,

Thanks for the extension, really like the side-by-side request/response viewing and diffing. Appreciate the hard work.

Can we please have a custom condition in **requests logs highlighting**, if the _Resp. Len. Differential_ results are `0`, means nothing really changed after changing the cookies, strings to some other user, etc.

Here's a screenshot for reference:
![image](htt

[2020-05-14 10:35] Anon-Exploiter opened #65 "Messed up colors with Darcula theme in v2020.4"
Hi @justinmoore,

Just updated my BurpSuite with Darcula theme and found out the extension (latest released pulled from this repo), messes up the colors while printing urls with conditions. For default, white is also kinda messed up.

POCs for the colors in AutoRepeater:
![image](https://user-images.githubusercontent.com/18597330/81924214-3f9e7a00-95f8-11ea-97ae-f520d5cc939e.png)
![image](https://

[2020-06-22 11:01] dubey-amit commented on #65
Same issue i am too facing

[2020-08-13 05:20] Anon-Exploiter commented on #65
Closing due to no activity/response.

[2020-08-13 05:20] #65 closed

[2020-08-13 05:20] Anon-Exploiter commented on #64
Closing due to no activity/response.

[2020-08-13 05:20] #64 closed

[2020-09-08 04:43] flamecopper opened #66 "Possible to perform a series of action"
Hi there,

I am new to autorepeater, is it possible to create a series of actions,
for example on a request on the sitemap.

1. Change the HTTP Verb to OPTIONS, observed any allowed method TRACE, HEAD etc
2. Change to GET /$%^&*&^%$#%^&*
3. Use Burp Intruder, execute GET /$asasassaa$, fuzz a commonly list of directory
4. Remove the cookie

[2020-10-03 06:18] iv1r4x opened #67 "Autorepeater stops working on adding a log filter with response length greater than 0"
As the subject says "Autorepeater stops working on adding a log filter with response length greater than 0". The Autorepeater GUI gets messed up and stops functioning as soon as this happens. This might be the case with other filter conditions too but I have seen this happening consistently with the one I mention.

[2020-10-08 17:26] Lz1y opened #68 "Condition about file extension doesn't work."
![image](https://user-images.githubusercontent.com/23468993/95492817-2cb38a00-098b-11eb-9cf7-031683c424cb.png)
[code]

[2020-10-08 17:32] justinmoore commented on #68
Hey Lz1y,

Have you tried using OR instead of AND?

Thanks,
Justin

Sent from my iPhone

[2020-10-08 17:35] Lz1y commented on #68
@justinmoore Yes, I tried, but doesn't work too. Thanks for your reply.

[2020-10-08 17:36] Lz1y commented on #68
![image](https://user-images.githubusercontent.com/23468993/95493985-bdd73080-098c-11eb-906c-25330e36c290.png)

[2020-10-08 17:41] Lz1y commented on #68
Seems like if requests urls have params, then log filter will pass it, even if the filter is set
![image](https://user-images.githubusercontent.com/23468993/95494477-8321c800-098d-11eb-9445-fdb96995a4f8.png)

[2020-10-08 17:56] Lz1y commented on #68
![image](https://user-images.githubusercontent.com/23468993/95495887-90d84d00-098f-11eb-8258-c465ee451ea0.png)
https://github.com/nccgroup/AutoRepeater/blob/30f5325f451751bf06ed26203d1c637c0652235a/src/burp/Conditions/Condition.java#L334

[2020-10-08 17:57] Lz1y commented on #68
Seems like the condition's value should be a regexp..

[2020-10-08 18:01] Lz1y commented on #68
There are some problems with the getFileExtension function.
[code]
output:
[code]

[2020-10-09 04:08] #68 closed

[2020-10-14 17:27] ghost opened #70 "Releases"
Please add a releases to download the jar file.

Or steps to complie shall be greatly appreciated

[2020-10-19 11:17] #70 closed, assigned to nobody

[2020-12-01 15:33] relaxedricky opened #71 "http2 issues."
Burp currently has an experimental option to enable HTTP 2, AutoRepeater seems to have an issue with this. While the request is shown as being HTTP 2, all requests came back with status 505, sending the request to repeater and sending it resulted in a status 200.

I've not had the time to dig into the issue but thought I would drop it here in the event others have had this.

[2020-12-23 13:00] sagar0121 opened #72 "Post Parameter Replace"
Hi,
It is possible to replace the post parameter with regex, if yes, can you please help the same.

For example, I have to replace the post parameter with below regex Match.

https?:\/\/(www\.)?[-a-zA-Z0–9@:%._\+~#=]{1,256}\.[a-zA-Z0–9()]{1,6}\b([-a-zA-Z0–9()@:%_\+.~#?&//=]*).

[2021-05-07 21:14] BorrowedBastion commented on #71
As of May 2021, the extension is still having the above issue. I found that disabling HTTP/2 and selecting the option that forces repeater to use HTTP/1.0 works for the sites I'm testing, although this may not be a good option for everyone.

[2021-05-12 07:39] jaikishantulswani opened #73 "Replace Param Value in Post"
@justinmoore @justinmoore-ncc @justinmoore-ncc2 There should be one more Type added `Replace Param Value` in `POST` request as the current one is only replacing value in `GET` request.

[2021-05-25 12:06] Anon-Exploiter commented on #71
Thanks @BorrowedBastion came across the same issue, setting it to HTTP/1.0 has solved the issue for now :}

[2021-05-26 15:04] Regala commented on #52
+11

[2021-05-28 11:32] gbergeson commented on #71
This is not just with Autorepeater, it appears to be happening with several extensions. As reported by [this thread](https://forum.portswigger.net/thread/issues-between-http2-and-most-extensions-489f2056), the 2021.6 release fixes it, and it appears to be fixed in my testing.

[2021-05-28 11:37] relaxedricky commented on #71
@gbergeson Thanks for the update, I will close this off

[2021-05-28 11:37] #71 closed, assigned to nobody

[2021-06-01 10:58] omareltf opened #74 "Not working with servers using HTTP/2"
I have encountered the following issue while testing a website that uses HTTP/2:
Normal requests works but the the requests that goes through AutoRepeater get a HTTP/1.1 505 HTTP Version Not Supported

Example:
Original:
![image](https://user-images.githubusercontent.com/35933345/120312191-b2989280-c2d8-11eb-9ac7-ab35476d248a.png)

Autorepeater modified:
![image](https://user-images.githubusercont

[2021-07-12 18:12] homedirectory opened #75 "Ability to copy & paste Rules"
_Below i mention "**rule**", which is the same as Replacement / Condition / Log Filter / Log Highlighter_

It would be great if you could, for example, **right-click a rule and copy & paste it**, instead of manually adding a rule, which is very similar to an existing one.

It would make a huge difference when you have multiple tabs open in **AutoRepeater** and need to add the same rules in each of

[2021-08-21 08:02] sushantdhopat opened #76 "."

[2021-08-21 14:13] #76 closed, assigned to nobody

[2021-09-20 12:34] #75 closed, assigned to nobody

[2021-12-27 20:30] shafouz opened #79 "Importing rules"
Hi, is there any way of importing a custom set of rules without having to manually add them?
My use case for this is that it becomes impossible to manually change a lot of rules that have a dynamic url like the interactsh oob tool.
Also are the rules being saved in a txt or db somewhere? I could not find them.

[2021-12-31 03:22] #79 closed, assigned to nobody

[2022-04-06 07:14] jaikishantulswani opened #80 "Replace All"
@justinmoore @justinmoore-ncc @justinmoore-ncc2   How can we avoid `Host` header replace when using regex to match and replace with condition `Request String`   with `Replace All` as in current scenario it replace `Host` header too

[2022-05-01 07:54] 99smith commented on #10
Hi @justinmoore

I have a situation where I need to use - match parameter name and replace its value .

For example I have GET request like this: GET https://exmple.com?dateStart=xyzee

Now when I use - match parameter name and replace its value and set parameter name as dateStart and value as superman

Autorepeater just works perfectly fine : https://exmple.com?dateStart=superman

Now the problem

[2022-05-01 09:54] 99smith opened #81 "Autorepeater not working for json body parameters replacement"
Hi @justinmoore

I have a situation where I need to use - match parameter name and replace its value .

For example I have GET request like this: GET [https://exmple.com?dateStart=xyzee](https://exmple.com/?dateStart=xyzee)

Now when I use - match parameter name and replace its value and set parameter name as dateStart and value as superman

Autorepeater just works perfectly fine : [https://exmple